  
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="">

	<title></title>
</head>
<body>
<ul>
	<% for(let i = 0; i < missions.length; i++) { %>
	  <li> <a href="/missions/<%= i%>"><%= missions[i].name %> </a></li> 
	  <%}%>
<script type="text/javascript" src=""></script>
</body>
</html>