  
<!DOCTYPE html>
<html>
<head>

	<title></title>
</head>
<body>
<ul>
	<% for(let i = 0; i < missions.length; i++) { %>
	  <li class="missions"> <a href="/missions/<%= i%>"><%= missions[i].name %> </a></li> 
	  <%}%>
<script type="text/javascript" src=""></script>
</body>
</html>