<!DOCTYPE html>
<html>
<head>

	<title></title>
</head>
<body>
<h1> <%=  theMission.name %> </h1>

<p> Launch Date: <%=thisMission.launchDate %>  <p>


<p> Mission Operator: <%= thisMission.operator %> <p>
<p> Mission Type: <%= thisMission.missionType %> <p>

<p> <a href="/missions"> Home </p>







<script type="text/javascript" src=""></script>
</body>
</html>